:root {
    --pink-color: #f8a5c2;
    --purple-color: #6a4c93;
    --background-image: url("../images/background.png");
    --font-arvo: "Arvo", serif;
    --primary-color: #3cc5f3;
    --highlight-color: #DA0463;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: var(--font-arvo);
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 5rem;
    color: var(--primary-color);
    text-shadow: 3px 0 var(--highlight-color);
    padding-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 40%;
}

.image-placeholder {
    background-color: #d3f8e2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    height: 280px;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.button {
    background-color: #6a4c93;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #f67280;
}

.name {
    background-color: #f8a5c2;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    color: #333;
    width: 100%;
}

footer {
    color: var(--highlight-color);
    font-family: sans-serif;
    font-size: 1.5rem;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.footer-content {
    margin: 0 10px;
}

.footer-content img {
    width: 40px;
    height: 40px;
}
