# Project Root
.architect
.env
*.code-workspace

# Build and Distribution
build/
dist/

# Bootstrap Files
bootstrap.css
bootstrap.js
bootstrap.json
bootstrap.jsonp

# Configuration Files
classic.json
classic.jsonp
modern.json
modern.jsonp
aboutMe.json

# Resources
resources/
    sass/
        .sass-cache/
    .arch-internal-preview.css

# External Libraries
ext/
node_modules/

# Miscellaneous
other stuff/