<%- include('partials/header', { title: title || 'Simon Says Game' }) %>
	<!-- Header Centered -->
	<div class="title">
		<h1 id="level-title">
			<%= pageName %>
		</h1>
	</div>
	<!-- Game Container -->
	<div class="container-simon">
		<div class="row">
			<div type="button" id="green" class="btn green"> </div>
			<div type="button" id="red" class="btn red"> </div>
		</div>

		<div class="row">
			<div type="button" id="yellow" class="btn yellow"> </div>
			<div type="button" id="blue" class="btn blue"> </div>
		</div>

	</div>
	<%- include("partials/footer.ejs") %>