.container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 1200px;
    /* background-color: rgba(255, 255, 255, 0.8); */
    padding: 20px;
    border-radius: 10px;
    height: 80vh;
    margin: auto;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 40%;
    height: auto;
}

.image-placeholder {
    background-color: #d3f8e2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    width: 100%;
    padding: 10px;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.button-icon {
    padding-right: 8px;
}

/* From Uiverse.io by adamgiebl */
.cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: #4400ff;
    overflow: hidden;
    height: 100px;
    font-weight: 700;
}

.cssbuttons-io:nth-child(odd) {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}

.cssbuttons-io:nth-child(even) {
    background: linear-gradient(to right, #4a00e0, #8e2de2);
}

.cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
}

.cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io:hover span {
    color: #ffffff;
}

.cssbuttons-io::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    height: 100%;
    background: var(--button-color);
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    z-index: 0;
}

.cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
    transform: scale(0.95);
}