/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  margin: 20px auto;
  flex: 2;
}

.aldeiaSlides {
  text-align: center;
}

.aldeiaSlides img,
.aldeiaSlides iframe {
  height: 500px;
  border-radius: 10px;
  max-width: 100%;
  object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text-container {
  text-align: center;
  width: 95%;
  position: absolute;
  top: 8px;
}

.text {
  display: inline-block;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #f2f2f2;
  font-size: 15px;
  border-radius: 15px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.homepage {
  display: flex;
  /* Enable flexbox layout */
  flex-direction: row;
}

.weather-section {
  flex: 1;
  top: 20px;
}

.weather-display {
  right: 20px;
  /* Distância da direita */
  font-size: 18px;
  /* Tamanho da fonte */
  color: var(--primary-color);
  /* Cor do texto */
  background-color: rgba(255, 255, 255, 0.8);
  /* Fundo semi-transparente */
  padding: 10px;
  /* Espaçamento interno */
  border-radius: 5px;
  /* Bordas arredondadas */
}