/* ===========================
   NAVBAR CONTAINER
=========================== */

.navbar {
    position: sticky;
    top: 0;
    z-index: 50;

    background-color: var(--secondary-color);
    backdrop-filter: blur(6px);

    min-height: 100px;
    border-radius: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
}

.navbar-menu {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 24px;
    font-size: 24px;

    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;

    list-style: none;
    width: 100%;
}

/* ========= LEFT ========= */

.navbar-left {
    display: flex;
    gap: 12px;
    justify-self: start;
}

/* ========= CENTER (CLOCK) ========= */

.clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 4px;

    color: var(--primary-color);
    white-space: nowrap;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* ========= RIGHT ========= */

.navbar-right {
    display: flex;
    gap: 16px;
    justify-self: end;
}

/* ========= LINKS ========= */

.navbar li {
    display: flex;
    align-items: center;
}

.navbar li a {
    color: var(--white);
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px;
}

.navbar li a:hover {
    background-color: #11111149;
}

.navbar li a:focus-visible {
    outline: 2px solid var(--primary-color);
    outline-offset: 3px;
}

/* ========= BUTTONS ========= */

.github-btn,
.linkedin-btn {
    display: inline-flex;
    align-items: center;
}

/* ========= ICONS ========= */

.github-logo,
.linkedin-logo {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}