/* =====================================================
   PAGE TITLE (GLOBAL) - H1
===================================================== */
.page-title {
    font-family: var(--font-title);
    font-size: 3rem;
    font-weight: 500;
    color: var(--primary-color);

    text-align: center;
    margin: 2rem auto 2rem;
    position: relative;
    width: fit-content;
    padding-top: 0.5rem;
}

.page-title::after {
    content: "";
    display: block;
    width: 70%;
    height: 4px;
    background-color: var(--highlight-color);
    margin: 0.5rem auto 0;
    border-radius: 2px;
}

/* =====================================================
   PAGE TITLE (SUB-SECTION) - H2
===================================================== */
.section-title {
    font-family: var(--font-title);
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--primary-color);
    padding-top: 15px;
    text-align: center;
    margin: 0 auto 1.8rem;
    position: relative;
    width: fit-content;
}

.section-title::after {
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background-color: var(--highlight-color);
    margin: 0.4rem auto 0;
    border-radius: 2px;
}

/* =====================================================
   CARD TITLE (SUB-SECTION) - H3
===================================================== */
.card-title {
    font-family: var(--font-base);
    font-size: 1.4rem;
    font-weight: 300;
    color: #fff;

    text-align: center;
    margin: 0.8rem 0 0.4rem;
    position: relative;
}

.card-title::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0.3rem auto 0;
    border-radius: 1px;
}

/* Active Page */
.active {
    font-weight: 600;
    color: var(--primary-color);
    background-color: rgba(111, 66, 193, 0.12);
    /* roxo suave */
    padding: 6px 14px;
    border-radius: 999px;
}

/* ========= MOBILE ========= */
@media (max-width: 768px) {
    .page-title {
        font-size: 2.2rem;
    }

    .section-title {
        font-size: 1.8rem;
    }

    .card-title {
        font-size: 1.2rem;
    }
}