/* ================================
   BASE GLOBAL
================================ */

/* Containers principais */
.recipe-form,
.recipes-list {
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin-bottom: 28px;
}

/* Títulos */
h2,
h3 {
    color: #333;
}

/* Botões gerais */
button {
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.2s, transform 0.2s;
    font-weight: bold;
}

/* Listas */
ul {
    list-style-position: outside;
    padding-left: 12px;
}

ul li {
    margin-left: 12px;
    line-height: 1.5;
    text-align: left;
}

/* Responsividade geral */
@media (max-width: 800px) {

    .recipe-form,
    .recipes-list {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}